.pdf-embed-container {  
    width: 100%; /* 可以是任何您希望的百分比或固定值 */  
    padding-bottom: 56.25%; /* 16:9 的宽高比，可以根据您的需求调整 */  
    position: relative;  
    height: 100%;  
    overflow: hidden;  
}  
  
.pdf-embed-container embed {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
}

.embedded_pdf{
    margin-top: 24px;
    height: 500px;
    @include atSmall {
        height: 900px;
      }
}

.pdf-embed-container .pdfjs-viewer {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
}  